# Environment variables
*.env

# Python compiled files
**/*.pyc
**/__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
.venv/
.env/
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/